{% extends 'base.html.twig' %}

{% block title %}{{parent()}}} Register!{% endblock %}

{% block body %}
    {{parent()}}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    {{ form(register_form)}}
{% endblock %}
